body {
    background-color: #fefefe;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/***************************************/
/* MAIN MENU */
/***************************************/
nav {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid white;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1pt;
}

nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:link, nav a:visited {
    color: #32373c;
    transition: color 0.3s;
  }

  nav a:hover {
    color: #007cba;
  }

  #active {
    background-color: #32373c;
    color: white;
    cursor: default;
  }

  #logo {
    position: fixed;
    z-index: 11;
    top: 2px;
    left: 2px;
  }

  .hamburger {
    position: fixed;
    visibility: hidden;
    right: 20px;
    top: 7px;
    z-index: 12;
  }

  button:focus { /*This gets rid of the border around the button when clicked. Keep this.*/
    outline: 0;
}

#home {
  transition: 0.3s;
}
/***************************************/

/***************************************/
/* MOBILE MENU */
/***************************************/
.mobileMenu {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 49px;
  right: 0;
  z-index: 20;
  width: 100%;
  visibility: hidden;
  opacity: 90%;
  transition: 0.3s;
}

.mobileMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

.mobileMenu li {
  text-transform: lowercase;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1pt;

}

.mobileMenu a {
  display: block;
  padding: 17px;
  text-decoration: none; 
  text-align: right;
}

.mobileMenu #active {
  background-color: white;
  color: #007cba;
}

.mobileMenu a:link, .mobileMenu a:visited {
  color: #32373c;
  transition: color 0.3s;
}

.show {
  visibility: visible;
  opacity: 90%;
  transition: 0.3s;
}

.mobileMenu a:hover {
  color: #007cba;
}
/***************************************/

/***************************************/
/* VIDEO REEL + TEXT*/
/***************************************/
#wrapper {
  position: relative;

}
#reel {
  width: 100vw;
}
.overlay {
  position: absolute;
  width: 40%;
  left: 30%;
  top: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.quote {
  position: absolute;
  width: 40%;
  left: 30%;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  border: 2px solid #32373c;
  border-radius: 25px;
}

.quote h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  letter-spacing: 1mm;
}

.quote:hover {
  background-color: #32373c;
  color: white;
  cursor: pointer;
}

form {
  position: absolute;
}

#wrapper a:hover {
  cursor: pointer;
}
/***************************************/


/***************************************/
/* CONTACT POP-UP MENU */
/***************************************/
.contact {
  visibility: hidden;
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0px;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.contact-content {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 15px;
  padding-top: 5px;
  border: 1px solid #fefefe;
  border-radius: 15px;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #32373c;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #007cba;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.contact-content h1 {
  color: #007cba;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3vw;
}

.contact-content form {
  background-color: white;
  position: relative;
}

.contact-content input, .contact-content select, .contact-content textarea {
  display: block;
  margin : 0 auto;
  font-family: 'Roboto', sans-serif;
  border-radius: 0.5rem;
  border: 1px solid #32373c;
}

.contact-content label {
  display: block;
  text-align: center;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  color: #007cba;
}

#submit {
  background-color: #32373c;
  font-weight: 600;
  font-size: 2vw;
  color: white;
}

#submit:hover {
  background-color: #007cba;
  cursor: pointer;
  border-color: #007cba;
  transition: 0.2s;
}

.popup {
  visibility: visible;
  opacity: 100%;
  transition: 0.2s;
}

.g-center {
  text-align: center;
}

.g-recaptcha {
  display: inline-block;
  transform:scale(0.77);
  -webkit-transform:scale(0.77);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
  text-align: center;
}

.contact textarea {
  width: 70%;
}
/***************************************/


/***************************************/
/* GALLERY*/
/***************************************/
.galleryHeader {
  text-align: center;
  letter-spacing: 1mm;
  color: #007cba;
  font-size: 40px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/***************************************/

/***************************************/
/* FOOTER */
/***************************************/
.footer {
  font-size: 14px;
  font-weight: 600;
  position: fixed; 
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  color: #32373c;
  width: 100%;
  z-index: 10;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer li {
  float: right;
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1pt;
}

.footer a {
  display: block;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
}

.footer a:link, .footer a:visited {
  color: #32373c;
  transition: color 0.3s;
}

.footer a:hover {
  color: #007cba;
}
/***************************************/

/***************************************/
/* SCREEN SPECIFIC */
/***************************************/


@media (max-width: 550px) {
  nav li {
    visibility: hidden;
    opacity: 0%;
    transition: 0.3s;
  }

  .hamburger {
    visibility: visible;
    opacity: 100%;
    transition: 0.3s;
  }
}

@media (min-width: 550px) {
  .mobileMenu {
    visibility: hidden;
  }
}